@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;

}
.topo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ab8262;
  height: 60%;
  width: 100%;
  color: white;
  font-size: 60%;
  font-family: 'montserrat';
}

.seguranca{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 10px;
    gap: 5px;
}

.cadeado{
    width: 3%;
} 

.logo{
    width: 20%;
    padding: 5px;
}

.mensagem{
    text-align: center;
    color: #ab8262;
    font-size: 80%;
    font-family: 'montserrat';
    font-weight: bold;
}

.listacadastro{
    position: absolute;
    left: 35%;
    color: #ab8262;
    font-family: 'montserrat';
    font-weight: bold;
    font-size: 10px;
    padding: 5px;
}

.linha{
    margin-left: 35%;
    height: 5px;
    width: 30%;

}

.textonome{
    position: absolute;
    left: 35%;
    color: #ab8262;
    font-family: 'montserrat';
    font-weight: bold;
    font-size: 10px;
    padding: 5px;
}

.nome{
    display: flex;
    justify-content: center;
}

.nome input{
    border-color: #ab8262;
    text-align: center;
    height: 30px;
    width: 30%;
    border-radius: 5px;
    font-family: 'luckiest guy';
}

.textoemail{
    position: absolute;
    left: 35%;
    color: #ab8262;
    font-family: 'montserrat';
    font-weight: bold;
    font-size: 10px;
    padding: 5px;
}

.email{
    display: flex;
    justify-content: center;
}

.email input{
    border-color: #ab8262;
    text-align: center;
    height: 30px;
    width: 30%;
    border-radius: 5px;
    font-family: 'luckiest guy';
}

.textocelular{
    position: absolute;
    left: 35%;
    color: #ab8262;
    font-family: 'montserrat';
    font-weight: bold;
    font-size: 10px;
    padding: 5px;
}

.celular{
    display: flex;
    justify-content: center;
}

.celular input{
    border-color: #ab8262;
    text-align: center;
    height: 30px;
    width: 30%;
    border-radius: 5px;
    font-family: 'luckiest guy';
}

.textotelefone{
    position: absolute;
    left: 35%;
    color: #ab8262;
    font-family: 'montserrat';
    font-weight: bold;
    font-size: 10px;
    padding: 5px;
}

.telefone{
    display: flex;
    justify-content: center;
}

.telefone input{
    border-color: #ab8262;
    text-align: center;
    height: 30px;
    width: 30%;
    border-radius: 5px;
    font-family: 'luckiest guy';
}

.textosexo{
    position: absolute;
    left: 35%;
    color: #ab8262;
    font-family: 'montserrat';
    font-weight: bold;
    font-size: 10px;
    padding: 5px;
}

.sexo{
    display: flex;
    justify-content: center;
}

.sexo input{
     border-color: #ab8262;
    text-align: center;
    height: 30px;
    width: 30%;
    border-radius: 5px;
    font-family: 'luckiest guy';
}

.textodata{
    position: absolute;
    left: 35%;
    color: #ab8262;
    font-family: 'montserrat';
    font-weight: bold;
    font-size: 10px;
    padding: 5px;
}

.data{
    display: flex;
    justify-content: center;
}

.data input{
    border-color: #ab6262;
    text-align: center;
    height: 35px;
    width: 30%;
    border-radius: 5px;
    font-family: 'luckiest guy';
}

.textocpf{
    position: absolute;
    left: 35%;
    color: #ab8262;
    font-family: 'montserrat';
    font-weight: bold;
    font-size: 10px;
    padding: 5px;
}

.cpf{
    display: flex;
    justify-content: center;
}

.cpf input{
    border-color: #ab8262;
    text-align: center;
    height: 30px;
    width: 30%;
    border-radius: 5px;
    font-family: 'luckiest guy';
}

.textosenha{
    position: absolute;
    left: 35%;
    color: #ab8262;
    font-family: 'montserrat';
    font-weight: bold;
    font-size: 10px;
    padding: 5px;
}

.senha{
    display: flex;
    justify-content: center;
}

.senha input{
    border-color: #ab8262;
    text-align: center;
    height: 30px;
    width: 30%;
    border-radius: 5px;
    font-family: 'luckiest guy';
}

.textoconfirmar{
    position: absolute;
    left: 35%;
    color: #ab8262;
    font-family: 'montserrat';
    font-weight: bold;
    font-size: 10px;
    padding: 5px;
}

.confirmarsenha{
    display: flex;
    justify-content: center;
}

.confirmarsenha input{
    border-color: #ab8262;
    text-align: center;
    height: 30px;
    width: 30%;
    border-radius: 5px;
    font-family: 'luckiest guy';
}

.entrar{
    display: flex;
    justify-content: center;
}

.entrar button{
  display: inline-block;
  text-align: center;
  font-size: 15px;
  text-decoration: none;
  border: none;
  background-color: #ab8262;
  color: white;
  border-radius: 25px;
  height: 40px;
  width: 12%;
  line-height: 40px;
  font-family: 'montserrat';
  font-weight: bold;
  transition: 0.5s; 
  
}

.entrar button:hover {
  background-color: white;
  color: #ab8262;
  border: 2px solid #ab8262;
}

.lista{
    position: absolute;
    left: 35%;
    color: #ab8262;
    font-family: 'montserrat';
    font-weight: bold;
    font-size: 10px;
    padding: 5px;
}