<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartPaws</title>
    <link rel="stylesheet" href="css/main.css"> <link rel="stylesheet" href="css/paginalogin.css">
</head>
<body>

    <div class="topo">
        <a href="index.html">
            <img class="logo" src="img/New_Logo_Smart_Paws_20250909_201807_0000.png" alt="logo">
        </a> 
        <div class="seguranca">
        <img class="cadeado" src="img/cadeado.png.png" alt="cadeado">
        <h3>AMBIENTE SEGURO</h3>
        </div>
    </div>

    <br><br>

    <div class="mensagem">
        <br><br>
        <h1><strong>Bem-Vindo!</strong></h1>
    </div>

    <br>

    <form action="esquecisenha.html" method="get">
        <div class="email">
            <input type="email" id="email" name="email" placeholder="DIGITE O SEU EMAIL" required>
        </div>

        <br>

        <div class="senha">
            <input type="password" id="senha" name="senha" placeholder="DIGITE A SUA SENHA" required>
        </div>

        <div class="esqueci">
            <a href="">
                <p>ESQUECI A SENHA</p>
            </a>
        </div>

        <br><br>

        <div class="entrar">
            <button type="submit">ENTRAR</button>
        </div>
    </form>

    <br>

    <div class="conta">
        <h6>AINDA NÃO POSSUI UMA CONTA?</h6>
    </div>

    <br>

    <div class="usuario">
        <a href="">CADASTRE-SE</a>
    </div>

    <div class="ou">
        <h4>OU</h4>
    </div>

    <div class="loja">
        <a href="">CADASTRAR A LOJA</a>
    </div>

    <script src="JS/main.js"></script> </body>
</body>
</html>