<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/produtos.css">
    <title>Produtos</title>
</head>
<body>

    <div class="container_conteudos">
        <div class="imagem_topo">
            <img src="IMG/produtos/BANNER BLACK.png" alt="">
        </div>

        <div class="container_titulo">
            <h3>Melhores ofertas em rações e petiscos</h3>
        </div>

        <div class="container_produtos">
            <div class="produto">
                <p class="tipo_produto">Alimentos</p>
                <img src="IMG/produtos/imagem produtos/racoes/racao reptil.png" alt="">
                <p class="nome_produto">Ração para répteis tamanho pequeno Smart Paws</p>
                <p class="desconto_produto"><s>R$ 999,99</s></p>
                <p class="preco_produto">R$ 9,99</p>
                <p class="porcentagem_desconto">-1000% OFF</p>
                <div class="avaliacao_produto">
                    <img src="IMG/produtos/estrela.png" alt="">
                    <p>5.0</p>
                </div>
                <div class="peso_produto">
                    <p class="opcao_peso">100g</p>
                </div>
                <button class="adicionar_carrinho" type="button">Adicionar ao carrinho</button>
            </div>

            <div class="produto">
                <p class="tipo_produto">Alimentos</p>
                <img src="IMG/produtos/imagem produtos/racoes/racao umida.png" alt="">
                <p class="nome_produto">Ração Úmida para Gatos Sabor Salmão SmartPaws</p>
                <p class="desconto_produto"><s>R$ 999,99</s></p>
                <p class="preco_produto">R$ 9,99</p>
                <p class="porcentagem_desconto">-1000% OFF</p>
                <div class="avaliacao_produto">
                    <img src="IMG/produtos/estrela.png" alt="">
                    <p>5.0</p>
                </div>
                <div class="peso_produto">
                    <p class="opcao_peso">150g</p>
                </div>
                <button class="adicionar_carrinho" type="button">Adicionar ao carrinho</button>
            </div>

            <div class="produto">
                <p class="tipo_produto">Alimentos</p>
                <img src="IMG/produtos/imagem produtos/racoes/racao sabor carne.png" alt="">
                <p class="nome_produto">Ração Sabor Carne para Cães  SmartPaws</p>
                <p class="desconto_produto"><s>R$ 999,99</s></p>
                <p class="preco_produto">R$ 9,99</p>
                <p class="porcentagem_desconto">-1000% OFF</p>
                <div class="avaliacao_produto">
                    <img src="IMG/produtos/estrela.png" alt="">
                    <p>5.0</p>
                </div>
                <div class="peso_produto">
                    <p class="opcao_peso">5kg</p>
                </div>
                <button class="adicionar_carrinho" type="button">Adicionar ao carrinho</button>
            </div>

            <div class="produto">
                <p class="tipo_produto">Alimentos</p>
                <img src="IMG/produtos/imagem produtos/racoes/racao para caes.png" alt="">
                <p class="nome_produto">Ração Para Cães  Sabor Carne SmartPaws</p>
                <p class="desconto_produto"><s>R$ 999,99</s></p>
                <p class="preco_produto">R$ 9,99</p>
                <p class="porcentagem_desconto">-1000% OFF</p>
                <div class="avaliacao_produto">
                    <img src="IMG/produtos/estrela.png" alt="">
                    <p>5.0</p>
                </div>
                <div class="peso_produto">
                    <p class="opcao_peso">15kg</p>
                </div>
                <button class="adicionar_carrinho" type="button">Adicionar ao carrinho</button>
            </div>

            <div class="produto">
                <p class="tipo_produto">Alimentos</p>
                <img src="IMG/produtos/imagem produtos/racoes/racao para caes filhotes.png" alt="">
                <p class="nome_produto">Ração para Cães Filhotes Sabor Carne</p>
                <p class="desconto_produto"><s>R$ 999,99</s></p>
                <p class="preco_produto">R$ 9,99</p>
                <p class="porcentagem_desconto">-1000% OFF</p>
                <div class="avaliacao_produto">
                    <img src="IMG/produtos/estrela.png" alt="">
                    <p>5.0</p>
                </div>
                <div class="peso_produto">
                    <p class="opcao_peso">100ml</p>
                </div>
                <button class="adicionar_carrinho" type="button">Adicionar ao carrinho</button>
            </div>
        </div>

        <div class="container_titulo">
            <h3>Melhores ofertas em brinquedos</h3>
        </div>

        <div class="container_produtos">
            <div class="produto">
                <p class="tipo_produto">Brinquedos</p>
                <img src="IMG/produtos/imagem produtos/brinquedos/brinquedo osso.png" alt="">
                <p class="nome_produto">Brinquedo de Pelúcia Osso SmartPaws</p>
                <p class="desconto_produto"><s>R$ 999,99</s></p>
                <p class="preco_produto">R$ 9,99</p>
                <p class="porcentagem_desconto">-1000% OFF</p>
                <div class="avaliacao_produto">
                    <img src="IMG/produtos/estrela.png" alt="">
                    <p>5.0</p>
                </div>
                <div class="peso_produto">
                    <p class="opcao_peso">5kg</p>
                    <p class="opcao_peso">15kg</p>
                </div>
                <button class="adicionar_carrinho" type="button">Adicionar ao carrinho</button>
            </div>

            <div class="produto">
                <p class="tipo_produto">Brinquedos</p>
                <img src="IMG/produtos/imagem produtos/brinquedos/brinquedo sintetico.png" alt="">
                <p class="nome_produto">Brinquedo Sintético para Cães Filhotes SmartPaws</p>
                <p class="desconto_produto"><s>R$ 999,99</s></p>
                <p class="preco_produto">R$ 9,99</p>
                <p class="porcentagem_desconto">-1000% OFF</p>
                <div class="avaliacao_produto">
                    <img src="IMG/produtos/estrela.png" alt="">
                    <p>5.0</p>
                </div>
                <div class="peso_produto">
                    <p class="opcao_peso">5kg</p>
                    <p class="opcao_peso">15kg</p>
                </div>
                <button class="adicionar_carrinho" type="button">Adicionar ao carrinho</button>
            </div>

            <div class="produto">
                <p class="tipo_produto">Brinquedos</p>
                <img src="IMG/produtos/imagem produtos/brinquedos/roda hamister.png" alt="">
                <p class="nome_produto">Roda de Exercícios para Hamsters SmartPaws</p>
                <p class="desconto_produto"><s>R$ 999,99</s></p>
                <p class="preco_produto">R$ 9,99</p>
                <p class="porcentagem_desconto">-1000% OFF</p>
                <div class="avaliacao_produto">
                    <img src="IMG/produtos/estrela.png" alt="">
                    <p>5.0</p>
                </div>
                <div class="peso_produto">
                    <p class="opcao_peso">5kg</p>
                    <p class="opcao_peso">15kg</p>
                </div>
                <button class="adicionar_carrinho" type="button">Adicionar ao carrinho</button>
            </div>

            <div class="produto">
                <p class="tipo_produto">Brinquedos</p>
                <img src="IMG/produtos/imagem produtos/brinquedos/brinquedo para gatos.png" alt="">
                <p class="nome_produto">Brinquedo para Gatos  em Látex SmartPaws</p>
                <p class="desconto_produto"><s>R$ 999,99</s></p>
                <p class="preco_produto">R$ 9,99</p>
                <p class="porcentagem_desconto">-1000% OFF</p>
                <div class="avaliacao_produto">
                    <img src="IMG/produtos/estrela.png" alt="">
                    <p>5.0</p>
                </div>
                <div class="peso_produto">
                    <p class="opcao_peso">5kg</p>
                    <p class="opcao_peso">15kg</p>
                </div>
                <button class="adicionar_carrinho" type="button">Adicionar ao carrinho</button>
            </div>

            <div class="produto">
                <p class="tipo_produto">Brinquedos</p>
                <img src="IMG/produtos/imagem produtos/brinquedos/brinquedo osso com sabor.png" alt="">
                <p class="nome_produto">Brinquedo Osso com Sabor para Cães</p>
                <p class="desconto_produto"><s>R$ 999,99</s></p>
                <p class="preco_produto">R$ 9,99</p>
                <p class="porcentagem_desconto">-1000% OFF</p>
                <div class="avaliacao_produto">
                    <img src="IMG/produtos/estrela.png" alt="">
                    <p>5.0</p>
                </div>
                <div class="peso_produto">
                    <p class="opcao_peso">5kg</p>
                    <p class="opcao_peso">15kg</p>
                </div>
                <button class="adicionar_carrinho" type="button">Adicionar ao carrinho</button>
            </div>
        </div>

        <br><br>

        <div class="container_imagem_meio">
            <img src="IMG/produtos/Frame 67.png" alt="">
        </div>

        <div class="container_titulo">
            <h3>Melhores ofertas em gaiolas e viveiros</h3>
        </div>
        
        <div class="container_produtos">
            <div class="produto">
                <p class="tipo_produto">Gaiolas e viveiros</p>
                <img src="IMG/produtos/imagem produtos/gaiolas e viveiros/casa para cachorros.png" alt="">
                <p class="nome_produto">Casa para Cachorros SmartPaws</p>
                <p class="desconto_produto"><s>R$ 999,99</s></p>
                <p class="preco_produto">R$ 9,99</p>
                <p class="porcentagem_desconto">-1000% OFF</p>
                <div class="avaliacao_produto">
                    <img src="IMG/produtos/estrela.png" alt="">
                    <p>5.0</p>
                </div>
                <div class="peso_produto">
                    <p class="opcao_peso">5kg</p>
                    <p class="opcao_peso">15kg</p>
                </div>
                <button class="adicionar_carrinho" type="button">Adicionar ao carrinho</button>
            </div>

            <div class="produto">
                <p class="tipo_produto">Gaiolas e viveiros</p>
                <img src="IMG/produtos/imagem produtos/gaiolas e viveiros/gaiola para hamster 1.png" alt="">
                <p class="nome_produto">Gaiola para Hamster SmartPaws</p>
                <p class="desconto_produto"><s>R$ 999,99</s></p>
                <p class="preco_produto">R$ 9,99</p>
                <p class="porcentagem_desconto">-1000% OFF</p>
                <div class="avaliacao_produto">
                    <img src="IMG/produtos/estrela.png" alt="">
                    <p>5.0</p>
                </div>
                <div class="peso_produto">
                    <p class="opcao_peso">5kg</p>
                    <p class="opcao_peso">15kg</p>
                </div>
                <button class="adicionar_carrinho" type="button">Adicionar ao carrinho</button>
            </div>

            <div class="produto">
                <p class="tipo_produto">Gaiolas e viveiros</p>
                <img src="IMG/produtos/imagem produtos/gaiolas e viveiros/gaiola para hamster 2.png" alt="">
                <p class="nome_produto">Gaiola para Hamster SmartPaws</p>
                <p class="desconto_produto"><s>R$ 999,99</s></p>
                <p class="preco_produto">R$ 9,99</p>
                <p class="porcentagem_desconto">-1000% OFF</p>
                <div class="avaliacao_produto">
                    <img src="IMG/produtos/estrela.png" alt="">
                    <p>5.0</p>
                </div>
                <div class="peso_produto">
                    <p class="opcao_peso">5kg</p>
                    <p class="opcao_peso">15kg</p>
                </div>
                <button class="adicionar_carrinho" type="button">Adicionar ao carrinho</button>
            </div>

            <div class="produto">
                <p class="tipo_produto">Gaiolas e viveiros</p>
                <img src="IMG/produtos/imagem produtos/gaiolas e viveiros/gaiola para hamster 3.png" alt="">
                <p class="nome_produto">Gaiola para Hamster SmartPaws</p>
                <p class="desconto_produto"><s>R$ 999,99</s></p>
                <p class="preco_produto">R$ 9,99</p>
                <p class="porcentagem_desconto">-1000% OFF</p>
                <div class="avaliacao_produto">
                    <img src="IMG/produtos/estrela.png" alt="">
                    <p>5.0</p>
                </div>
                <div class="peso_produto">
                    <p class="opcao_peso">5kg</p>
                    <p class="opcao_peso">15kg</p>
                </div>
                <button class="adicionar_carrinho" type="button">Adicionar ao carrinho</button>
            </div>

            <div class="produto">
                <p class="tipo_produto">Gaiolas e viveiros</p>
                <img src="IMG/produtos/imagem produtos/gaiolas e viveiros/viveiro.png" alt="">
                <p class="nome_produto">Viveiro para Pássaros SmartPaws</p>
                <p class="desconto_produto"><s>R$ 999,99</s></p>
                <p class="preco_produto">R$ 9,99</p>
                <p class="porcentagem_desconto">-1000% OFF</p>
                <div class="avaliacao_produto">
                    <img src="IMG/produtos/estrela.png" alt="">
                    <p>5.0</p>
                </div>
                <div class="peso_produto">
                    <p class="opcao_peso">5kg</p>
                    <p class="opcao_peso">15kg</p>
                </div>
                <button class="adicionar_carrinho" type="button">Adicionar ao carrinho</button>
            </div>
        </div>

        <div class="container_titulo">
            <h3>Melhores ofertas em roupas e acessórios</h3>
        </div>
        
        <div class="container_produtos">
            <div class="produto">
                <p class="tipo_produto">Roupas e acessórios</p>
                <img src="IMG/produtos/imagem produtos/roupas e acessórios/moletom bege.png" alt="">
                <p class="nome_produto">Conjunto Moletom Bege Para Gatos SmartPaws</p>
                <p class="desconto_produto"><s>R$ 999,99</s></p>
                <p class="preco_produto">R$ 9,99</p>
                <p class="porcentagem_desconto">-1000% OFF</p>
                <div class="avaliacao_produto">
                    <img src="IMG/produtos/estrela.png" alt="">
                    <p>5.0</p>
                </div>
                <div class="peso_produto">
                    <p class="opcao_peso">5kg</p>
                    <p class="opcao_peso">15kg</p>
                </div>
                <button class="adicionar_carrinho" type="button">Adicionar ao carrinho</button>
            </div>

            <div class="produto">
                <p class="tipo_produto">Roupas e acessórios</p>
                <img src="IMG/produtos/imagem produtos/roupas e acessórios/moletom azul.png" alt="">
                <p class="nome_produto">Conjunto Moletom Azul para Cachorros SmartPaws</p>
                <p class="desconto_produto"><s>R$ 999,99</s></p>
                <p class="preco_produto">R$ 9,99</p>
                <p class="porcentagem_desconto">-1000% OFF</p>
                <div class="avaliacao_produto">
                    <img src="IMG/produtos/estrela.png" alt="">
                    <p>5.0</p>
                </div>
                <div class="peso_produto">
                    <p class="opcao_peso">5kg</p>
                    <p class="opcao_peso">15kg</p>
                </div>
                <button class="adicionar_carrinho" type="button">Adicionar ao carrinho</button>
            </div>

            <div class="produto">
                <p class="tipo_produto">Roupas e acessórios</p>
                <img src="IMG/produtos/imagem produtos/roupas e acessórios/pijama.png" alt="">
                <p class="nome_produto">Pijama Poliéster para Cães SmartPaws</p>
                <p class="desconto_produto"><s>R$ 999,99</s></p>
                <p class="preco_produto">R$ 9,99</p>
                <p class="porcentagem_desconto">-1000% OFF</p>
                <div class="avaliacao_produto">
                    <img src="IMG/produtos/estrela.png" alt="">
                    <p>5.0</p>
                </div>
                <div class="peso_produto">
                    <p class="opcao_peso">5kg</p>
                    <p class="opcao_peso">15kg</p>
                </div>
                <button class="adicionar_carrinho" type="button">Adicionar ao carrinho</button>
            </div>

            <div class="produto">
                <p class="tipo_produto">Roupas e acessórios</p>
                <img src="IMG/produtos/imagem produtos/roupas e acessórios/moletom para gatos.png" alt="">
                <p class="nome_produto">Moletom para Gatos Poliéster SmartPaws</p>
                <p class="desconto_produto"><s>R$ 999,99</s></p>
                <p class="preco_produto">R$ 9,99</p>
                <p class="porcentagem_desconto">-1000% OFF</p>
                <div class="avaliacao_produto">
                    <img src="IMG/produtos/estrela.png" alt="">
                    <p>5.0</p>
                </div>
                <div class="peso_produto">
                    <p class="opcao_peso">5kg</p>
                    <p class="opcao_peso">15kg</p>
                </div>
                <button class="adicionar_carrinho" type="button">Adicionar ao carrinho</button>
            </div>

            <div class="produto">
                <p class="tipo_produto">Roupas e acessórios</p>
                <img src="IMG/produtos/imagem produtos/roupas e acessórios/casaco moletom.png" alt="">
                <p class="nome_produto">Casaco Moletom para Cães SmartPaws</p>
                <p class="desconto_produto"><s>R$ 999,99</s></p>
                <p class="preco_produto">R$ 9,99</p>
                <p class="porcentagem_desconto">-1000% OFF</p>
                <div class="avaliacao_produto">
                    <img src="IMG/produtos/estrela.png" alt="">
                    <p>5.0</p>
                </div>
                <div class="peso_produto">
                    <p class="opcao_peso">5kg</p>
                    <p class="opcao_peso">15kg</p>
                </div>
                <button class="adicionar_carrinho" type="button">Adicionar ao carrinho</button>
            </div>
        </div>
        
        <br><br><br><br><br>
    </div>
    
</body>
</html>